<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/icon/app_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="..//styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>IT-ER</title>
</head>
<body>
    <nav class="nav-container">
        <div class="nav-icon-bg nav-icon-no-bg">
            <img class="nav-icon avt" src="../assets/icon/app_icon.png" alt="app-icon">
        </div>
        <div>
            <div onclick="gotoHome()" class="nav-icon-bg">
                <img class="nav-icon" src="../assets/icon/icon-home.png" alt="home-icon">
            </div>
            <div class="nav-icon-bg">
                <img class="nav-icon" src="../assets/icon/icon_schedule.png" alt="schedule-icon">
            </div>
            <div class="nav-icon-bg">
                <img class="nav-icon" src="../assets/icon/icon_book.png" alt="book-icon">
            </div>
            <div onclick="gotoAll()" class="nav-icon-bg ">
                <img class="nav-icon" src="../assets/icon/icon_more.png" alt="more-icon">
            </div>
        </div>
        <div>
            <div onclick="showNotificationPanel()" class="nav-icon-bg notification-icon">
                <img class="nav-icon" src="../assets/icon/icon_notification.png" alt="setting-icon">
                <div class="notification-panel">
                    <div class="notif-title">Thông báo</div>
                    <div class="notif-container">
                        <div class="notif-frame">
                            <img src="../assets/icon/icon-java.svg" alt="">
                            <div>
                                <p>Ưu đãi đặc biệt</p>
                                <p>Nhân ngày quốc khánh 2.9 IT-ER giảm giá 30% cho tất cả khóa học! Nhanh tay lựa chọn khóa học yêu thích của bạn ngay hôm nay!</p>
                            </div>
                        </div>
                        <div class="notif-frame">
                            <img src="../assets/icon/icon-java.svg" alt="">
                            <div>
                                <p>Ưu đãi đặc biệt</p>
                                <p>Nhân ngày quốc khánh 2.9 IT-ER giảm giá 30% cho tất cả khóa học! Nhanh tay lựa chọn khóa học yêu thích của bạn ngay hôm nay!</p>
                            </div>
                        </div>
                        <div class="notif-frame">
                            <img src="../assets/icon/icon-java.svg" alt="">
                            <div>
                                <p>Ưu đãi đặc biệt</p>
                                <p>Nhân ngày quốc khánh 2.9 IT-ER giảm giá 30% cho tất cả khóa học! Nhanh tay lựa chọn khóa học yêu thích của bạn ngay hôm nay!</p>
                            </div>
                        </div>
                        <div class="notif-frame">
                            <img src="../assets/icon/icon-java.svg" alt="">
                            <div>
                                <p>Ưu đãi đặc biệt</p>
                                <p>Nhân ngày quốc khánh 2.9 IT-ER giảm giá 30% cho tất cả khóa học! Nhanh tay lựa chọn khóa học yêu thích của bạn ngay hôm nay!</p>
                            </div>
                        </div>
                        <div class="notif-frame">
                            <img src="../assets/icon/icon-java.svg" alt="">
                            <div>
                                <p>Ưu đãi đặc biệt</p>
                                <p>Nhân ngày quốc khánh 2.9 IT-ER giảm giá 30% cho tất cả khóa học! Nhanh tay lựa chọn khóa học yêu thích của bạn ngay hôm nay!</p>
                            </div>
                        </div>
                        <div class="notif-frame">
                            <img src="../assets/icon/icon-java.svg" alt="">
                            <div>
                                <p>Ưu đãi đặc biệt</p>
                                <p>Nhân ngày quốc khánh 2.9 IT-ER giảm giá 30% cho tất cả khóa học! Nhanh tay lựa chọn khóa học yêu thích của bạn ngay hôm nay!</p>
                            </div>
                        </div>
                        <div class="notif-frame">
                            <img src="../assets/icon/icon-java.svg" alt="">
                            <div>
                                <p>Ưu đãi đặc biệt</p>
                                <p>Nhân ngày quốc khánh 2.9 IT-ER giảm giá 30% cho tất cả khóa học! Nhanh tay lựa chọn khóa học yêu thích của bạn ngay hôm nay!</p>
                            </div>
                        </div>
                    </div>
                    <p class="more-notif">Xem thêm</p>
                </div>
            </div>
            <div class="nav-icon-bg nav-icon-no-bg">
                <img class="nav-icon avt" src="../assets/img/avt.jpg" alt="demo-avt">
            </div>
        </div>
    </nav>
    <main>
        <div id="home" class="content-area">
            <div class="header">
                <img src="../assets/img/home-contain-bg.jpg" alt="contain-bg">
                <div class="blur-effect"></div>
                <div class="text-container">
                    <p>Chào, Admin!</p>
                    <p>Chúc bạn học tập vui vẻ</p>
                </div>
                <div class="search-container">
                    <input placeholder="Tìm kiếm khóa học, bài giảng,..." type="search" name="search" id="search">
                    <img class="icon-search" src="../assets/icon/icon-search.png" alt="search">
                </div>
            </div>
            <div class="nav">
                
            </div>
            <div class="content">
                <div class="course-container">
                    <p>Các khóa học phổ biến</p>
                    <div class="courses-show">
                       
                    </div>
                </div>
                <div class="course-container">
                    <p>Đã xem</p>
                    <div class="lesson-container">
                        <div class="course-card">
                            <img src="../assets/img/QuanLyQuanCaFe.jpg" alt="QLCF banner">
                            <p>Lập trình phần mềm quản lý cafe với C#</p>
                            <p>Tiến độ: 60%</p>
                        </div>
                        <div class="course-card">
                            <img src="../assets/img/flappy-bird-course-website.jpg" alt="Flappy Bird">
                            <p>Lập trình game Flappy bird với unity3D</p>
                            <p>Tiến độ: 90%</p>
                        </div>
                        <div class="course-card">
                            <img src="../assets/img/so-tay-Javascript-howkteam.png" alt="So tay JS">
                            <p>Sổ tay JavaScript</p>
                            <p>Tiến độ: 80%</p>
                        </div>
                        <div class="course-card">
                            <img src="../assets/img/Ky-thuat-Cracking.jpg" alt="Ky thuat cracking">
                            <p>Kỹ thuật Cracking</p>
                            <p>Tiến độ: 30%</p>
                        </div>
                        <div class="course-card">
                            <img src="../assets/img/Cau-truc-du-lieu-va-giai-thuat.jpg" alt="CTDL GT">
                            <p>Cấu trúc dữ liệu và giải thuật</p>
                            <p>Tiến độ: 100%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="all" class="content-area">
            <div class="header">
                <img src="../assets/img/all-bg.jpg" alt="contain-bg">
                <div class="blur-effect"></div>
                <div class="text-container">
                    <p>Tất cả khóa học tại IT-ER</p>
                    <p></p>
                </div>
                <div class="search-container">
                    <input placeholder="Tìm kiếm khóa học, bài giảng,..." type="search" name="search" id="search">
                    <img class="icon-search" src="../assets/icon/icon-search.png" alt="search">
                </div>
            </div>
            
            <div style="margin-top: 20px;" class="content">
               
            </div>
        </div>
        <div id="course-details" class="content-area">
        </div>
        <div id="lessons-details" class="content-area">
            
        </div>
            <div class="dialog">
                <div class="dlg-content">
                    <h1>Thông báo</h1>
                    <div class="dlg-course">
                        <img src="../assets/img/course-locked.gif">
                        <p>Bạn chưa sở hữu khóa học này</p>
                    </div>
                    <p>Mời bạn mua khóa học này để khám phá kiến thức bổ ích mà khóa học mang lại</p>
                    <div class="dlg-button">
                        <button onclick='hideDialog()' class="dlg-btn-cancle">Đóng</button>
                    </div>
                </div>
            </div>
    </main>
    <script src="../javascripts/home.js"></script>
</body>
</html>