<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../assets/icon/app_icon.png" type="image/x-icon">
    <title>Đăng nhập</title>
</head>
<body>
    <div class="container">
        <div class="gradient"></div>
        <div class="lg-form">
            <div class="introduction">
                <div class="content">
                    <img src="../assets/icon/learn-more.png" alt="">
                    <p class="title">Nâng cao kỹ năng công nghệ của bạn</p>
                    <p class="summary">Khám phá các khóa học và chương trình đào tạo đa dạng tại Trung tâm Tin học, nơi bạn sẽ được trang bị những kiến thức và kỹ năng cần thiết để thành công trong thế giới số.</p>
                </div>
                <div class="content">
                    <img src="../assets/icon/icon-developer.png" alt="">
                    <p class="title">Học tập hiệu quả với chương trình chuyên nghiệp</p>
                    <p class="summary">Trung tâm Tin học cung cấp những khóa học từ cơ bản đến nâng cao, giúp bạn nhanh chóng tiếp cận và làm chủ công nghệ thông tin với đội ngũ giảng viên giàu kinh nghiệm.</p>
                </div>
                <div class="content">
                    <img src="../assets/icon/icon-explore.png" alt="">
                    <p class="title">Khám phá thế giới số cùng chúng tôi</p>
                    <p class="summary">Tại Trung tâm Tin học, bạn sẽ được trải nghiệm môi trường học tập hiện đại, với các công nghệ mới nhất và phương pháp giảng dạy tiên tiến.</p>
                </div>
                <div class="content">
                    <img src="../assets/icon/well-foundation.png" alt="">
                    <p class="title">Bước vào tương lai với nền tảng vững chắc</p>
                    <p class="summary">Hãy để Trung tâm Tin học đồng hành cùng bạn trên con đường chinh phục những kỹ năng công nghệ, từ lập trình, mạng máy tính đến bảo mật thông tin.</p>
                </div>
                <div class="intr-doc">
                    <span>Điều khoản</span>
                    <span>Chính sách bảo mật</span>
                    <span>Trợ giúp</span>
                </div>
            </div>
            <div class="login-area">
                
            </div>
        </div>
        
    </div>
    <script src="../javascripts/login.js"></script>
</body>
</html>