<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/payment.css">
    <title>Thanh Toán</title>
</head>
<body>
    <div class="container">
        <div class="select-payment-method">
            <div onclick="gotoHomePage()" class="back-navigate">
                <img src="../assets/icon/left-arrow.png" alt="">
                <span>Quay lại</span>
            </div>
            <div class="all-payment">
                <span>Chọn phương thức thanh toán</span>
                <div class="payment-frame">
                    <input onclick="payClick()" type="radio" name="payment" id="momo" checked value="momo">
                    <div class="payment-info">
                        <img style="filter: none;" src="../assets/icon/icon-momo.webp" alt="momo">
                        <span>Thanh toán bằng momo</span>
                    </div>
                </div>
                <div class="payment-frame">
                    <input onclick="payClick()" type="radio" name="payment" id="momo" value="qr">
                    <div class="payment-info">
                        <img src="../assets/icon/icon-qr.png" alt="momo">
                        <span>Thanh toán bằng QR code</span>
                    </div>
                </div>
                <div class="payment-frame">
                    <input onclick="payClick()" type="radio" name="payment" id="momo" value="credit">
                    <div class="payment-info">
                        <img src="../assets/icon/icon-credit-card.png" alt="momo">
                        <span>Thanh toán bằng thẻ ghi nợ / tín dụng</span>
                    </div>
                </div>
            </div>
            <div>
                <div class="course-info-frame">
                    
                </div>
            </div>
        </div>
        <div class="add-payment-method">
            <p>Thanh Toán</p>
            <p class="summary">Để đảm bảo quá trình thanh toán diễn ra một cách suôn sẻ và thành công, vui lòng kiểm tra và xác nhận tất cả các thông tin bạn đã cung cấp trước khi hoàn tất giao dịch.</p>
            <div class="add-payment-container">
                
            </div>
        </div>
    </div>
    <script src="../javascripts/payment.js"></script>
</body>
</html>