:root{
    --background-color: #190019;

    --icon-active: white;
    --icon-avtive-background: black;
    --icon-unactive-color: black;
    --icon-unactive-background:white;

    --nav-background: #2b124c;
    --nav-container-margin: 1%;
    --nav-icon-size: 50px;
    --nav-width: 80px;
    --nav-height: 100%;
    --nav-items-padding: 20px;
    --nav-corners: 30px;

    --content-height: 100%;
    --content-width: 100%;
    --content-padding: 20px;

    --process-icon-size: 30px;
    --process-avt-border-color: white;
    --process-avt-border-width: 2px;
    --process-avt-size: 100px;
    --process-avt-margin: 20px;
    --process-info-name-size: 30px;
    --process-frame-friends-bg: #854f6c;
    --process-frame-padding: 15px;
    --process-frame-corner: 30px;
    --process-friends-icon-size: 30px;
    --process-friends-next-icon-size: 15px;
    --process-friends-text-size: 18px;
    --process-friends-text-margin-left: 15px;
    --process-statistic-margin-top: 20px;
    --process-statistic-icon-cong-size: 20px;
    --process-statistic-chart-bg: #bcf3dc;
}
*{
    margin: 0;
    user-select: none;
    /* color: #fbd4e8; */
    color: white;
    scrollbar-width: thin;
    scrollbar-color: rgba(80, 80, 80, 0.336) transparent;
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
}

.container{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
}
.nav-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--nav-background);
    border-radius: var(--nav-corners);
    margin: var(--nav-container-margin);
}
.nav-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.nav-icon-bg{
    position: relative;
    display: flex;
    background-color: var(--icon-unactive-background);
    border-radius: 100%;
    padding: var(--nav-items-padding);
    cursor: pointer;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
}

.nav-icon-bg:hover .nav-icon{
    width: 40px;
}
.notification-panel{
    display: none;
    background-color: rgba(0, 0, 0, 0.541);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 500px;
    height: 700px;
    left: 70px;
    bottom: -20px;
    position: absolute;
    z-index: 2;
    cursor: auto;
    padding: 30px;
}
.more-notif{
    position: absolute;
    bottom: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    right: 10px;
    font-size: 15px;
    background-color: rgba(202, 202, 202, 0.507);
    cursor: pointer;
}

.notif-container{
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 82%;
    width: 90%;
}

.notif-frame{
    display: flex;
    align-items: center;
    background-color: #6b6b6b6b;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}
.notif-frame div{
    margin-left: 15px;
}
.notif-frame div p:first-child{
    font-size: 20px;
    font-weight: 600;
}
.notif-frame div p:last-child{
    color: #dbdbdb;
    font-size: 15px;
}
.notif-frame img{
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 100%;
    padding: 10px;
}
.notif-title{
    font-size: 30px;
    font-weight: 400;
}
.notification-icon::after{
    content: '';
    border: 8px red solid;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0px;
}
.nav-icon{
    width: 30px;
    transition: width .1s linear;
}
.nav-icon-no-bg{
    background-color: transparent;
}
.avt {
    border-radius: 100%;
    width: 50px;
}
main{
    scroll-behavior: smooth;
    display: flex;
    width: var(--content-width);
    height: var(--content-height);
    box-sizing: border-box;
    overflow: hidden;
    margin-right: 20px;
}
.content-area{
    width: 100%;
    display: inline-block;
    margin: 1%;
}
.content-area .header{
    position: relative;
    width: 99%;
    height: 25%;
    overflow: hidden;
    border-radius: 20px;

}
.content-area .header .blur-effect{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #2525255e;
    backdrop-filter: blur(8px);
}
.content-area .header .search-container{
    display: flex;
    position: absolute;
    align-items: center;
    right: 0;
    margin: 20px;
    
}
.icon-search {
    position: absolute;
    width:20px ; 
    height: 20px;
    left: 15px;
}
#search{
    height: 50px;
    width: 300px;
    border-radius: 20px;
    outline: none;
    border: 0;
    padding-left: 50px;
    color: black;
}
.content-area .header > img{
    width: 100%;
    min-width: 425px;
    position: absolute;
}
.content-area .header .text-container{
    position: absolute;
    bottom: 10px;
    padding-left: 20px;
    
}
.content-area .header .text-container p:first-child{
    font-size: 50px;
    text-overflow: ellipsis;
}
.content-area .header .text-container p:last-child{
    font-size: 20px;
    padding-left: 5px;
}
.content-area .nav{
    display: flex;
    overflow-x: scroll;
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
}

.content-area .nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px 20px;
    background-color: #2b124c;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: transform 0.2s linear;
}
.content-area .nav div:hover{
    transform: translateY(-10px);
}
.content-area .nav div img{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 100%;
    background-color: white;
}
.content-area .nav div p{
    text-wrap: nowrap;
    margin-left: 10px;
    color: white;
}
.content-area .content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-area .content .course-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content-area .content .course-container .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-area .content .course-container .title > div {
    display: flex;
    align-items: center;
}
.content-area .content .course-container .title > span{
    margin-right: 50px;
    cursor: pointer;
}
.content-area .content .course-container .title > div > img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
}
.content-area .content .course-container .title > div > p{
    margin-left: 10px;
    font-size: 30px;
}
.content-area .content .course-container .courses-show{
    display: flex;
    overflow-x: scroll;
}
.course-card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 300px;
    margin: 20px;
    position: relative;
    transition: transform 0.1s linear;
}
.course-card > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.course-card > div > img {
    width: 20px;
    height: 20px;
    filter: invert(1);
} 
.course-card > div > p{
    margin-left: 10px;
}
.course-card:hover{
    transform: translateY(-10px);
}
.course-card > p{
    padding-left: 20px;
}
.course-card .course-title{
    font-size: 25px;
    margin: 10px 0;
}
.course-card .course-price{
    font-size: 20px;
    color: rgba(157, 255, 0, 0.637);
}
.course-card .course-price-discount{
    text-decoration: line-through;
}
.course-card img{
    width: 300px;
    height: 150px;
    border-radius: 20px;
}
.course-card .course-info{
    display: flex;
    justify-content: space-evenly;
}
.course-card .course-info img{
    width: 20px;
    height: 20px;
    filter: invert(1);
}
.course-card .course-info .viewer{
    display: flex;
}
.course-card .course-info .course-duration{
    display: flex;
}
.lesson-container{
    display: flex;
    overflow-x: scroll;
}

.lesson-container > img {
    width: 300px;
    height: 150px;
}
.header .back-icon-container{
    position: absolute;
    display: flex;
    align-items: center;
    left: 20px;
    top: 20px;
}
.header .back-icon-container img{
    width: 25px;
    height: 25px;
    filter: invert(1);
    background-color: #5e5e5e52;
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
}
.header .back-icon-container p{
    margin-left: 20px;
    font-size: 20px;
}
#course-details .header .text-container .course-info{
    display: flex;
    background-color: #464646ab;
    backdrop-filter: blur(10px);
    padding: 10px;
    justify-content: space-between;
    border-radius: 15px;
}
#course-details .header .text-container .course-info > div{
    display: flex;
    align-items: center;
}
#course-details .header .text-container .course-info > div > img{
    filter: invert(1);
    width: 20px;
    height: 20px;
}
#course-details .header .text-container .course-info > div > p{
    font-size: 18px;
    
}
#course-details .header .price{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 20px;
    top: 20px;
    bottom: 10px;
    justify-content: space-between;
    align-items: end;
}
#course-details .header .price .course-price{
    font-size: 30px;
    text-align: right;
}
#course-details .header .price .course-price-discount{
    font-size: 18px;
    text-align: right;
    text-decoration: line-through;
    color: rgb(155, 211, 0);
}
.btn-buy{
    padding: 20px 30px;
    background-color: #29292952;
    border-radius: 10px;
    font-size: 20px;
    border: 2px white solid;
    cursor: pointer;
    transition: transform .1s linear;
}
.btn-buy:hover{
    transform: translateY(-10px);
}
.wrap-items{
    overflow: hidden;
    width: 100vw;
    flex-wrap: wrap;
}
#lessons-details .content .course-container .lesson-container > div{
    display: flex;
    margin-top: 20px;
    position: relative;
    width: 88%;
    height: 40vh;
    align-items: center;
    justify-content: space-between;
}
#lessons-details .content .course-container .lesson-container > div .navigate-lesson{
    margin-left: 20px;
    background-color: rgba(204, 204, 204, 0.103);
    border-radius: 20px;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
#lessons-details .content .course-container .lesson-container > div .navigate-lesson > div:first-child {
    background-color: var(--nav-background);
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
}
#lessons-details .content .course-container .lesson-container > div .navigate-lesson .list-lesson{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#lessons-details .content .course-container .lesson-container > div .video-lesson{
    width: 50%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lessons-details .content .course-container .lesson-container > div .video-lesson iframe{
    width: 100%;
    border-radius: 20px;
    height: 100%;
}
.list-lesson > div{
    padding: 20px;
    cursor: pointer;
    border-bottom: rgba(173, 173, 173, 0.397) 1px solid;
}
.list-lesson > div:hover{
background-color: rgba(78, 78, 78, 0.329);
}
#lessons-details .content .course-container > div:nth-child(2){
    width: 70%;
    margin-top: 30px;
    background-color: rgba(204, 204, 204, 0.103);
    border-radius: 20px;
    padding: 20px;
}
#lessons-details .content .course-container > div:nth-child(2) h2 {
    font-size: 40px;
    color: #ffffffea;
}
#lessons-details .content .course-container > div:nth-child(2) p {
    padding-left: 20px;
    font-size: 20px;
    color: #c7c7c7;
}
#lessons-details .content .course-container > div:nth-child(3){
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    
}
#lessons-details .content .course-container > div:nth-child(3) input{
    flex-grow: 1;
    background-color: rgba(204, 204, 204, 0.103);
    outline: none;
    border: none;
    padding: 20px 10px;
    border-radius: 20px;
    
}
#lessons-details .content .course-container > div:nth-child(3) img{
    height: 25px;
    width: 25px;
    filter: invert(1);
    margin-left: 20px;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    body{
        flex-direction: column;
    }
    .nav-container{
        flex-direction: row;
        justify-content: center;
        z-index: 2;
    }
    .nav-container > div {
        flex-direction: row;
    }
    .nav-icon-bg{
        width: 5px;
        height: 5px;
        margin: 0;
        scale: 0.7;
    }
    .course-card{
        width: 150px;
    }
    .course-card img{
        width: 150px;
        height: 80px;
    }
    .course-card .course-title{
        font-size: 15px;
    }
    #home .content{
        height: 60%;
    }
    #home .nav div{
        margin: 10px;
    }
    #home .nav div img{
        height: 20px;
        width: 20px;
    }
    .content-area .header .text-container p:first-child{
        font-size: 25px;
        overflow: hidden;
        height: 60px;
        line-height: 30px;
    }
    .content-area .header .text-container p:last-child{
        font-size: 15px;
    }
    #search{
        width: 200px;
        height: 40px;
    }
    .content-area .content .course-container .title{
        margin: 0 10px;
    }
    .content-area .content .course-container .title > span{
        margin: 0px;
    }
    .content-area .content .course-container .title > div > img{
        height: 25px;
        width: 25px;
    }
    .content-area .content .course-container .title > div > p{
        font-size: 20px;
    }
    .header .back-icon-container img{
        width: 15px;
        height: 15px;
    }
    #course-details .header .price .course-price{
        font-size: 18px;
    }
    #course-details .header .price .course-price-discount{
        font-size: 15px;
    }
    .btn-buy{
        padding: 10px;
        font-size: 15px;
    }
    #course-details .header .text-container .course-info{
        padding: 5px;
    }
    #course-details .header .text-container .course-info > div > img{
        height: 15px;
        width: 15px;
    }
    #course-details .header .text-container .course-info > div > p{
        font-size: 12px;
    }
    #course-details .header .text-container .course-info > div{
        margin-left: 5px;
    }
    #lessons-details .content .course-container .lesson-container > div{
        width: 100%;
        flex-direction: column;
        margin: 10px;
        height: 500px;
    }
    #lessons-details .content .course-container .lesson-container > div .video-lesson{
        width: 100%;
        height: 500px;
    }
    #lessons-details .content .course-container .lesson-container > div .navigate-lesson{
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }
    #lessons-details .content .course-container > div:nth-child(2){
        width: 100%;
        box-sizing: border-box;
    }
    #lessons-details .content .course-container > div:nth-child(2) h2{
        font-size: 20px;
        margin: 20px 0;
    }
    #lessons-details .content .course-container > div:nth-child(2) p{
        font-size: 15px;
    }
    .notification-panel{
        top: 100%;
        left: -300px;
        width: 400px;
    }
        
}