:root{
    --background-color: #190019;

    --icon-active: white;
    --icon-avtive-background: black;
    --icon-unactive-color: black;
    --icon-unactive-background:white;

    --nav-background: #2b124c;
    --nav-container-margin: 1%;
    --nav-icon-size: 50px;
    --nav-width: 80px;
    --nav-height: 100%;
    --nav-items-padding: 20px;
    --nav-corners: 30px;

    --content-height: 100%;
    --content-width: 100%;
    --content-padding: 20px;

    --process-icon-size: 30px;
    --process-avt-border-color: white;
    --process-avt-border-width: 2px;
    --process-avt-size: 100px;
    --process-avt-margin: 20px;
    --process-info-name-size: 30px;
    --process-frame-friends-bg: #854f6c;
    --process-frame-padding: 15px;
    --process-frame-corner: 30px;
    --process-friends-icon-size: 30px;
    --process-friends-next-icon-size: 15px;
    --process-friends-text-size: 18px;
    --process-friends-text-margin-left: 15px;
    --process-statistic-margin-top: 20px;
    --process-statistic-icon-cong-size: 20px;
    --process-statistic-chart-bg: #bcf3dc;
}
*{
    margin: 0;
    user-select: none;
    /* color: #fbd4e8; */
    color: white;
}
body{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
}

.container{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
}
.nav-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--nav-background);
    border-radius: var(--nav-corners);
    margin: var(--nav-container-margin);
}
.nav-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.nav-icon-bg{
    background-color: var(--icon-unactive-background);
    border-radius: 100%;
    padding: var(--nav-items-padding);
    scale: 0.5;
    cursor: pointer;
}
.nav-icon{
    width: var(--nav-icon-size);
}
.nav-icon-no-bg{
    background-color: transparent;
    scale: 1;
}
.avt {
    border-radius: 100%;
   
}
main{
    scroll-behavior: smooth;
    display: flex;
    width: var(--content-width);
    height: var(--content-height);
    box-sizing: border-box;
    overflow: hidden;
    margin-right: 20px;
}
main::-webkit-scrollbar{
    border: 0;
}
.content-area{
    width: 100%;
    display: inline-block;
    margin: 1%;
}
.content-area .header{
    position: relative;
    width: 99%;
    height: 25%;
    overflow: hidden;
    border-radius: 20px;

}
.content-area .header .blur-effect{
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(8px);
}
.content-area .header .search-container{
    display: flex;
    position: absolute;
    align-items: center;
    right: 0;
    margin: 20px;
    
}
.icon-search {
    position: absolute;
    width:20px ; 
    height: 20px;
    left: 15px;
}
#search{
    height: 50px;
    width: 300px;
    border-radius: 20px;
    outline: none;
    border: 0;
    padding-left: 50px;
    color: black;
}
.content-area .header > img{
    width: 100%;
    min-width: 425px;
    position: absolute;
}
.content-area .header .text-container{
    position: absolute;
    bottom: 10px;
    padding-left: 20px;
    
}
.content-area .header .text-container p:first-child{
    font-size: 50px;
}
.content-area .header .text-container p:last-child{
    font-size: 20px;
    padding-left: 5px;
}
.content-area .nav{
    display: flex;
    overflow-x: scroll;
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
}
.content-area .nav::-webkit-scrollbar{
    border: 0;
}
.content-area .nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px 20px;
    background-color: #2b124c;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: transform 0.2s linear;
}
.content-area .nav div:hover{
    transform: translateY(-10px);
}
.content-area .nav div img{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 100%;
    background-color: white;
}
.content-area .nav div p{
    text-wrap: nowrap;
    margin-left: 10px;
    color: white;
}
.content-area .content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.content-area .content::-webkit-scrollbar{
    border: 0;
}
.content-area .content .course-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content-area .content .course-container .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-area .content .course-container .title > div {
    display: flex;
    align-items: center;
}
.content-area .content .course-container .title > span{
    margin-right: 50px;
    cursor: pointer;
}
.content-area .content .course-container .title > div > img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
}
.content-area .content .course-container .title > div > p{
    margin-left: 10px;
    font-size: 30px;
}
.content-area .content .course-container .courses-show{
    display: flex;
    overflow-x: scroll;
}
.content-area .content .course-container .courses-show::-webkit-scrollbar{
    border: 0;
}

.course-card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 300px;
    margin: 20px;
    position: relative;
    transition: transform 0.1s linear;
}
.course-card > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.course-card > div > img {
    width: 20px;
    height: 20px;
    filter: invert(1);
} 
.course-card > div > p{
    margin-left: 10px;
}
.course-card:hover{
    transform: translateY(-10px);
}
.course-card > p{
    padding-left: 20px;
}
.course-card .course-title{
    font-size: 25px;
    margin: 10px 0;
}
.course-card .course-price{
    font-size: 20px;
    color: rgba(157, 255, 0, 0.637);
}
.course-card .course-price-discount{
    text-decoration: line-through;
}
.course-card img{
    width: 300px;
    height: 150px;
    border-radius: 20px;
}
.course-card .course-info{
    display: flex;
    justify-content: space-evenly;
}
.course-card .course-info img{
    width: 20px;
    height: 20px;
    filter: invert(1);
}
.course-card .course-info .viewer{
    display: flex;
}
.course-card .course-info .course-duration{
    display: flex;
}
.lesson-container{
    display: flex;
    overflow-x: scroll;
}
.lesson-container::-webkit-scrollbar{
    border: 0;
}
.lesson-container > img {
    width: 300px;
    height: 150px;
}
#course-details .header .back-icon-container{
    position: absolute;
    display: flex;
    align-items: center;
    left: 20px;
    top: 20px;
}
#course-details .header .back-icon-container img{
    width: 25px;
    height: 25px;
    filter: invert(1);
    background-color: #5e5e5e52;
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
}
#course-details .header .back-icon-container p{
    margin-left: 20px;
    font-size: 20px;
}
#course-details .header .text-container .course-info{
    display: flex;
    background-color: #464646ab;
    backdrop-filter: blur(10px);
    padding: 10px;
    justify-content: space-between;
    border-radius: 15px;
}
#course-details .header .text-container .course-info > div{
    display: flex;
    align-items: center;
}
#course-details .header .text-container .course-info > div > img{
    filter: invert(1);
    width: 20px;
    height: 20px;
}
#course-details .header .text-container .course-info > div > p{
    font-size: 18px;
    
}
#course-details .header .price{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 20px;
    top: 20px;
    bottom: 10px;
    justify-content: space-between;
    align-items: end;
}
#course-details .header .price .course-price{
    font-size: 30px;
    text-align: right;
}
#course-details .header .price .course-price-discount{
    font-size: 18px;
    text-align: right;
    text-decoration: line-through;
    color: rgb(155, 211, 0);
}
.btn-buy{
    padding: 20px 30px;
    background-color: #29292952;
    border-radius: 10px;
    font-size: 20px;
    border: 2px white solid;
    cursor: pointer;
    transition: transform .1s linear;
}
.btn-buy:hover{
    transform: translateY(-10px);
}
.wrap-items{
    overflow: hidden;
    width: 100vw;
    flex-wrap: wrap;
}


.process-area{
    /* flex */
    display: flex; 
    flex-direction: column;
    background-color: var(--nav-background);
    border-radius: var(--nav-corners);
    padding: var(--nav-items-padding);
    width: 400px;
}
.process-user-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.process-user-info .avt{
    width: var(--process-avt-size);
    border: var(--process-avt-border-width) solid var(--process-avt-border-color);
    margin: var(--process-avt-margin);
}
.process-user-info .name{
    font-size: var(--process-info-name-size);
}
.process-friends{
    display: flex;
    align-items: center;
    background-color: var(--process-frame-friends-bg);
    padding: var(--process-frame-padding);
    border-radius: var(--process-frame-corner);
    cursor: pointer;
}
.process-friends .icon{
    width: var(--process-friends-icon-size);
    filter: invert(100);
}
.process-friends img{
    width: var(--process-friends-next-icon-size);
    filter: invert(100);
}
.process-friends p{
    width: 100%;
    font-size: var(--process-friends-text-size);
    margin-left: var(--process-friends-text-margin-left);
}
.process-statistic{
    display: flex;
    flex-direction: column;
    padding: var(--process-frame-padding);
    margin-top: var(--process-statistic-margin-top);
    background-color: var(--process-frame-friends-bg);
    border-radius: var(--process-frame-corner);
}
.process-statistic .header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.process-statistic .header .title{
    display: flex;
    justify-content: space-between;
}
.process-statistic .header .title span{
    font-size: 15px;
    font-weight: bold;
}
.process-statistic .header .detail{
    display: flex;
    align-items: center;
}
.process-statistic .header .detail b {
    font-size: 25px;
}
.process-statistic .header .detail img{
    width: var(--process-statistic-icon-cong-size);
}
.process-statistic .header .detail div{
    display: flex;
    align-items: center;
    background-color: var(--nav-background);
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}
.underline{
    width: 100%;
    border-top: 1px solid var(--nav-background);
}
.process-statistic .chart-area{
    display: flex;
    height: 120px;
    justify-content: space-around;
    margin-top: 30px;
}
.process-statistic .chart-area .chart{
    height: 90%;
}
.process-statistic .chart-area .chart div{
    background-color: var(--process-statistic-chart-bg);
    border-radius: 5px;
}
.level10{
    height: 10%;
}
.level50{
    height: 50%;
}
.level80{
    height: 80%;
}
.level40{
    height: 40%;
}
.level100{
    height: 100%;
}
.process-area .my-cources{
    margin-top: 20px;
}
.process-area{
    margin: 1%;
}