*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sanSSs-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    user-select: none;
}
body{
    background-color: black;
    color: white;
}
.container{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.gradient{
    z-index: -1;
    position: absolute;
    background: radial-gradient(circle at left top,#411877 10%, black 90%);
    width: 100%;
    height: 100%;

}
.lg-form{
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px;
    display: flex;
    box-sizing: border-box;
}
.introduction{
    position: relative;
    width: 50%;
    margin: 30px;
}
.intr-doc{
    position: absolute;
    bottom: 0;
}
.intr-doc > span{
    font-size: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: rgb(190, 190, 190);
}
.content{
    margin-top: 30px;
}
.introduction > .content > img {
    height: 30px;
    width: 30px;
    object-fit: contain;
}
.title{
    font-size: 20px;
}
.summary{
    font-size: 13px;
    color: rgb(199, 199, 199);
    margin-top: 10px;
}
.login-area{
    width: 50%;
    max-width: 570px;
    display: flex;
    background-color: rgba(114, 114, 114, 0.24);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    position: relative;
    overflow-x: hidden;
}
.login-area .container{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
}
.lg-header{
    display:flex;
    align-items: center;
    height: 50px;
}
.lg-header > p {
    margin-left: 20px;
    font-size: 28px;
    font-weight: bold;
}
.app-icon{
    width: 50px;
    height: 50px;
}
.lg-content{
    position: relative;
    top: 30px;
    width: 100%;
}
.username{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}
.username .place-holder{
    position: absolute;
    margin-left: 40px;
    font-size: 13px;
    transition: transform 0.3s;
    z-index: -1;
}
.username .inp{
    position: absolute;
    left: 0;
    right: 20px;
    height: 50px;
    background-color: rgba(219, 219, 219, 0.295);
    outline: none;
    border: none;
    border-radius: 10px;
    padding-left: 40px;
    color: white;
}
.username .inp:focus + .place-holder{
    transform: translate(-25px,-35px);
}
.inp-icon{
    position: absolute;
    width: 25px;
    height: 25px;
    filter: invert(1);
    margin-left: 10px;
}
.icon-show{
    position: absolute;
    right: 50px;
    width: 25px;
    height: 25px;
    filter: invert(1);
    cursor: pointer;
}
.btn-login{
    position: relative;
    width: 80%;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
    background-color: #6215c752;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}
.subdivider{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.subdivider .line {
    flex-grow: 1;
    border-top: 1px rgb(189, 189, 189) solid;
    height: 1px;
    overflow: hidden;
}
.subdivider span{
    margin: 0 20px;
    font-size: 15px;
    color: rgb(230, 230, 230);
}
.another-login-method{
    position: relative;
    display: flex;
    align-items: center;
    margin: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.social-frame{
    display: flex;
    align-items: center;
    background-color: rgba(134, 134, 134, 0.26);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
.social-frame > img{
    height: 25px;
    width: 25px;
    filter: invert(1);
}
.social-frame > span{
    margin-left: 10px;
    font-size: 15px;
}
.lg-content > p{
    text-align: center;
    font-size: 15px;
}
.forget-password{
    position: relative;
    height: 30px;
    margin-top: 20px;
}
.forget-password > span{
    position: absolute;
    right: 40px;
    font-size: 13px;
    cursor: pointer;
}
.lg-content > p > span{
    color: #a56cf0;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.name{
    display: flex;
    justify-content: space-between;
}
.name-modify{
    margin: 20px 0 0 10px;
}
.register-modify{
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.lg-tip{
    margin-top: 20px;
}
.login-animatetion{
    animation:  login-animate 0.3s linear;
}
.register-animation{
    animation:  register-animate 0.3s linear;
}
@keyframes register-animate{
    0%{
        right: -100%;
        opacity: 0;
    }
    80%{
        right: 10%;
        opacity: 0.2;
    }
    100%{
        right: 0;
        opacity: 1;
    }
}
@keyframes login-animate{
    0%{
        left: -100%;
        opacity: 0;
    }
    80%{
        left: 10%;
        opacity: 0.2;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}
@media only screen and (max-width: 970px){
    .lg-form{
        flex-direction: column-reverse;
        justify-content: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: unset;
        padding: 30px;
    }
    .login-area{
        overflow-x: unset;
        width: 100%;
        max-width: unset;
    }
    .introduction{
        width: 100%;
        margin: 0;
    }
    .login-area .container{
        position: relative;
    }
    .container{
        overflow-x: hidden;
    }
}