*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sanSSs-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    user-select: none;
    color: white;
}
body{
    background-color: black;
}
.container{
    position: relative;
    display: flex;
    padding: 40px;
    gap: 50px;
}
.select-payment-method{
    width: 50%;
}
.back-navigate{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.back-navigate > img{
    filter: invert(1);
    width: 30px;
    height: 30px;
}
.back-navigate > span{
    margin-left: 10px;
}
.add-payment-method{
    width: 50%;
}
.payment-frame{
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(73, 73, 73, 0.452);
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}
.payment-frame > input{
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
}
.payment-frame:has(input:checked) {
    border: 2px solid rgb(113, 0, 128);
}
.payment-info{
    position: absolute;
    display: flex;
    align-items: center;
}
.payment-info > img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}
.payment-info > span {
    margin-left: 20px
}
.course-info-frame{
    background-color: rgba(73, 73, 73, 0.452);
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
}
.price{
    font-size: 35px;
    font-weight: bold;
    margin: 20px;
}
.course-info{
    display: flex;
    flex-direction: column;
}
.course-info > span{
    margin-top: 10px;
    font-size: 17px;
    margin-left: 10px;
}
.course-info > img {
    height: 200px;
    width: 80%;
    max-width: 300px;
    object-fit: cover;
    border-radius: 20px;
}
.secure{
    display: flex;
    align-items: center;
    margin: 20px;
}
.secure > img{
    width: 30px;
    height: 30px;
}
.secure > span{
    font-size: 12px;
    margin-left: 5px;
    color: rgb(190, 190, 190);
    font-weight: bold;
}
.add-payment-method{
    background-color: rgba(73, 73, 73, 0.452);
    border-radius: 10px;
    padding: 30px;
}
.add-payment-method > p{
    font-size: 30px;
    font-weight: bold;
    color: rgb(221, 221, 221);
}
.add-payment-method > .summary{
    font-weight: normal;
    font-size: 15px;
    color: rgb(197, 197, 197);
    margin: 20px;
}
.all-momo .payment-frame .payment-info > img {
    filter: none;
}
.discount-frame{
    margin-top: 20px;
}
.discount-frame > div{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 20px;
    border-radius: 10px;
}
.discount-frame > div > input{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: rgba(73, 73, 73, 0.452);
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 20px;
    box-sizing: border-box;
}
.discount-frame > div > button{
    position: absolute;
    right: 0;
    color: black;
    height: 50px;
    padding: 0 10px;
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.pay-now{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.btn-pay-now{
    width: 80%;
    height: 50px;
    background-color: rgb(113, 0, 128);
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.qr-container{
    margin: 20px 0px;
}
.qr-title{
    font-size: 30px;
    font-weight: bold;
    color: rgb(219, 219, 219);
}
.qr-inf{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.qr-inf > img{
    filter: invert(1);
    border: 2px rgb(113, 0, 128) solid;
    border-radius: 20px;
    width: 70%;
}
.qr-inf > span{
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
}
.qr-summary{
    font-size: 13px;
}
.credit-container{
    width: 100%;
}
.credit-name{
    display: block;
    width: 100%;
}
.credit-name > p{
    font-size: 15px;
}
.credit-name > input{
    width: 100%;
    height: 50px;
    background-color: rgba(105, 105, 105, 0.151);
    border: none;
    outline: none;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 10px 0;
}
.credit-number{
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.credit-number > img{
    position: absolute;
    z-index: 1;
    padding: 10px;
}
.credit-number > input{
    background-color: rgba(105, 105, 105, 0.151);
    border: none;
    outline: none;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-left: 70px;
    box-sizing: border-box;
}
.credit-date{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.credit-container > p{
    font-size: 30px;
    font-weight: bold;
    color: rgb(196, 196, 196);
    margin-bottom: 20px;
}
.secure-tip{
    display: flex;
    align-items: center;
    margin: 20px;
}
.secure-tip > img{
    width: 50px;
}
.secure-tip > p{
    font-size: 13px;
    color: rgb(196, 196, 196);
}
.dialog{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
}
.dlg-container{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
}
.loading-icon{
    width: 100px;
    height: 100px;
    margin: 10px;
    position: relative;
}
.loading-icon img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.status > p{
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.status > span{
    color: black;
    font-size: 13px;
}
.btn-close{
    position: absolute;
    bottom: 0;
    right: 0;
    color: red;
    padding: 10px 20px;
    border: 1px red solid;
    border-radius: 20px;
    margin: 10px;
    font-size: 12px;
    cursor: pointer;
}
@media only screen and (max-width: 800px){
    .container{
        flex-direction: column;
    }
    .select-payment-method{
        width: 100%;
    }
    .add-payment-method{
        width: 100%;
        box-sizing: border-box;
    }
}